<a href="https://colab.research.google.com/github/r3tr0devilz/Data-Analysis-Projects/blob/main/Introduction_to_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

## Create a Connection, a table and add data

In [2]:
#Create a database
conn = sqlite3.connect("example2.db")

In [3]:
# Create a cursor

cur = conn.cursor()

In [4]:
#Create table

cur.execute("CREATE TABLE customer (name TEXT, last_name TEXT, income REAL)")

In [5]:
# Insert a row

cur.execute("INSERT INTO customer VALUES ('A','B','45600')")

In [6]:
conn.commit()

Connect to an exisiting database

In [8]:
conn = sqlite3.connect("example2.db")

cur = conn.cursor()

In [10]:
#run simple query
cur.execute("SELECT * FROM customer")
cur.fetchone()

('A', 'B', 45600.0)

In [11]:
for row in cur.execute("SELECT * FROM customer"):
  print(row)

('A', 'B', 45600.0)

Add several rows

In [12]:
customer_list = [
    ("Sri","Ambati",3000),
    ("Nicholas","Cage",45000),
    ("Anu","Gaur",4020.5)
]

In [13]:
cur.executemany("INSERT INTO customer VALUES (?,?,?)", customer_list)

In [16]:
for row in cur.execute("SELECT * FROM customer"):
  print(row)

('A', 'B', 45600.0)
('Sri', 'Ambati', 3000.0)
('Nicholas', 'Cage', 45000.0)
('Anu', 'Gaur', 4020.5)

In [17]:
conn.commit()

In [18]:
conn.close()

Run queries

In [19]:
##to re open connection

conn = sqlite3.connect("example2.db")
cur = conn.cursor()

In [20]:
cur.execute("Select * FROM customer WHERE name = 'Nicholas'")
cur.fetchall()

[('Nicholas', 'Cage', 45000.0)]

In [25]:
cur.execute("SELECT * FROM customer WHERE last_name = 'Ambati'")
cur.fetchall()

[('Sri', 'Ambati', 3000.0)]

In [30]:
cur.execute("SELECT * FROM customer ORDER BY last_name desc")
cur.fetchall()

[('Anu', 'Gaur', 4020.5),
 ('Nicholas', 'Cage', 45000.0),
 ('A', 'B', 45600.0),
 ('Sri', 'Ambati', 3000.0)]

In [33]:
cur.execute("SELECT SUM(income) FROM customer")
cur.fetchall()

[(97620.5,)]

In [ ]:
conn.close()    #close connection